@import "./main.scss";
#contact {
  &-a {
    // .centeritem {
    //   display: flex;
    //   flex-direction: column;
    //   height: 100vh;
    //   margin-top: 10%;
    button[type="submit"] {
      width: 50%;
    }
    .section-title {
      font-size: 30px;
    }
    .text-fields {
      display: grid;
      grid-template-areas:
        "name email"
        "subject phone"
        "message message";
      grid-gap: 1.2rem;
      margin-bottom: 1.2rem;
      // Grid Areas
      .name-input {
        grid-area: name;
      }
      .subject-input {
        grid-area: subject;
      }
      .email-input {
        grid-area: email;
      }
      .phone-input {
        grid-area: phone;
      }
      .message-input {
        grid-area: message;
        height: 70px;
      }

      .text-input {
        padding: 0.5rem 1rem;
      }
    }
    // }
  }
  &-b {
    .contact-info {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      text-align: center;
    }
  }

  &-c {
    h1 {
      text-align: center;
      font-size: 4rem;
    }
  }
}

@media (max-width: 500px) {
  #contact {
    &-a {
      .text-fields {
        grid-template-areas:
          "name"
          "subject"
          "email"
          "phone"
          "message";
      }
    }
    &-b {
      display: none;
    }
    &-c {
      h1 {
        font-size: 2rem;
      }
    }
  }
}
